.green {
  --normal: #94db31;
  --light: #c6ef84;
  --lighter: #deffb0;
}

.yellow {
  --normal: #f1b600;
  --light: #ffeb8e;
  --lighter: #fef4ac;
}

.pink {
  --normal: #ff85b9;
  --light: #ffd0e7;
  --lighter: #fee5ec;
}

.uma-dialog-choice {
  height: 83px;
  width: 568px;

  font-size: 19px;
  font-weight: 600;
  color: #794016;
  background-color: #fff;

  border-style: solid;
  border-width: 2px;
  border-color: var(--normal);
  border-radius: 10px;

  padding: 0px 0px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  > .overlay {
    position: absolute;
    height: 0px;
    background-color: var(--normal);
    opacity: 0.3;
    z-index: 12;
  }

  &:active {
    transform: scale(0.9);

    > .overlay {
      border-radius: 8px;
      height: 100%;
      width: 100%;
    }
  }

  > .inner {
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 8px;

    display: grid;
    grid-template-columns: 51px 1fr 82px;
    grid-template-rows: 1fr;
  }

  .text {
    z-index: 15;
    text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff,
      0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
    text-align: left;
    align-self: center;
  }

  .icon {
    margin-left: 8px;
    margin-right: 18px;
    align-self: center;
    fill: var(--normal);
  }
  .decoration {
    overflow: hidden;
    transform: translateY(0);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

    > * {
      position: absolute;
    }

    .decoration-front {
      z-index: 10;
      height: 100%;

      > * {
        background-color: var(--light);
        height: 1000%;
        width: 100px;
        z-index: 10;
        transform-origin: top left;
        transform: translate(80px, -20px) rotate(34deg);
      }
    }

    .decoration-back {
      z-index: 9;

      > * {
        background-color: var(--lighter);
        height: 150px;
        width: 100px;
        z-index: 11;
        transform-origin: top left;
        transform: translate(10px, -20px) rotate(-34deg);
      }
    }
  }
}
