button {
  font-size: 1rem;

  --text-color: #794016;
  --border: #635d7e;
  --inner-border: #f7f3f7;
  --bg-gradient-start: #ffffff;
  --bg-gradient-end: #e3e1e8;
  --deco-gradient-start: #e4e3e7;
  --deco-gradient-end: #ffffff;

  --click-decoration-primary: #fbf4ec;
  --click-decoration-secondary: #e7dfd8;
  --click-decoration-stroke-color: #695d48;
  --click-decoration-stroke-opacity: 0.33;
}

.primary {
  --text-color: #fff;
  --border: #386c03;
  --inner-border: #b4ef18;
  --bg-gradient-start: #a5e005;
  --bg-gradient-end: #60bd0d;
  --deco-gradient-start: #63b500;
  --deco-gradient-end: #a2df05;

  --click-decoration-primary: #ffee31;
  --click-decoration-secondary: #fcdc29;
  --click-decoration-stroke-color: #9e3700;
  --click-decoration-stroke-opacity: 0.29;
}

.button {
  height: 4rem;
  width: 15.312rem;

  border: 0.125rem solid var(--border);
  box-shadow: 0px 0.25rem 0.063rem -0.063rem rgba(102, 100, 112, 0.56);
  border-radius: 0.688rem;
  background: linear-gradient(
    180deg,
    var(--bg-gradient-start) 0%,
    var(--bg-gradient-end) 100%
  );

  position: relative;
  transition: none;

  &:active {
    transform: scale(0.9);
    transition: transform 0.15s;
  }

  &:disabled {
    --text-color: #794016;
    --border: #635d7e;
    --inner-border: #f7f3f7;
    --bg-gradient-start: #ffffff;
    --bg-gradient-end: #e3e1e8;
    --deco-gradient-start: #e4e3e7;
    --deco-gradient-end: #ffffff;

    --click-decoration-primary: #fbf4ec;
    --click-decoration-secondary: #e7dfd8;
    --click-decoration-stroke-color: #695d48;
    --click-decoration-stroke-opacity: 0.33;

    filter: brightness(50%);
  }

  .inner-border {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 0.125rem solid var(--inner-border);
    border-radius: 0.625rem;
    z-index: 6;
    opacity: 80%;
  }

  .decoration {
    border-radius: 0.625rem;
    overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 5;
    width: min(70%, 6rem);

    .decoration-front {
      position: absolute;
      z-index: 1;
      width: 7.5rem;
      height: 4.5rem;
      left: 0px;
      top: 0px;
      bottom: 0px;

      background: linear-gradient(
        174deg,
        var(--deco-gradient-start) 5.05%,
        var(--deco-gradient-end) 63.54%
      );
      transform: translateY(0.625rem) rotate(-48.43deg);
    }

    .decoration-back {
      position: absolute;
      z-index: 0;

      width: 7.188rem;
      height: 4.5rem;
      left: 0px;
      top: 0px;
      bottom: 0px;

      background: linear-gradient(
        135.38deg,
        var(--deco-gradient-start) 30.1%,
        var(--deco-gradient-end) 56.62%
      );
      transform: translate(-0.313rem, -1.688rem) rotate(-122deg);
    }
  }

  .content {
    color: var(--text-color);
    font-size: 1.375rem;
    font-weight: 600;

    position: relative;
    z-index: 10;
    height: calc(100% - 0.125rem);
    width: calc(100% - 0.125rem);

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2.1rem;

    > * {
      flex-grow: 1;
    }
  }

  .icon {
    width: max(2.875rem, 20%);
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    filter: drop-shadow(0px 0.25rem 0.063rem rgba(0, 0, 0, 0.23));
  }
}

.click-decoration {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .content {
    height: 3rem;
    width: 3.25rem;
    opacity: 1;
  }

  .left {
    position: absolute;
    top: -1.6rem;
    left: -1.6rem;
  }

  .right {
    position: absolute;
    top: -1.6rem;
    right: -1.6rem;
    transform: scaleX(-1);
  }
}

.small {
  width: 4.875rem;
  height: 2.25rem;
  border-radius: 1.125rem;

  .decoration {
    border-radius: 1rem;
  }

  .inner-border {
    border-radius: 1rem;
  }

  .content {
    font-size: 1rem;
    font-weight: 600;
  }
}
