.neutral {
  --text-color: #794016;
  --border: #635d7e;
  --inner-border: #f7f3f7;
  --bg-gradient-start: #ffffff;
  --bg-gradient-end: #e3e1e8;
  --decoration-gradient-start: #e4e3e7;
  --decoration-gradient-end: #ffffff;
}

.primary {
  --text-color: #fff;
  --border: #386c03;
  --inner-border: #b4ef18;
  --bg-gradient-start: #a5e005;
  --bg-gradient-end: #60bd0d;
  --decoration-gradient-start: #63b500;
  --decoration-gradient-end: #a2df05;
}

.button {
  cursor: pointer;

  height: 64px;
  width: 245px;

  border: 2px solid var(--border);
  box-shadow: 0px 4px 1px -1px rgba(102, 100, 112, 0.56);
  border-radius: 11px;
  background: linear-gradient(
    180deg,
    var(--bg-gradient-start) 0%,
    var(--bg-gradient-end) 100%
  );

  position: relative;
  transition: transform 0.15s;

  &:active {
    transform: scale(0.9);
  }

  .inner-border {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 2px solid var(--inner-border);
    border-radius: 10px;
    z-index: 6;
    opacity: 80%;
  }

  .decoration {
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 5;
    width: min(70%, 96px);

    .decoration-front {
      position: absolute;
      z-index: 1;
      width: 120px;
      height: 72px;
      left: 0px;
      top: 0px;
      bottom: 0px;

      background: linear-gradient(
        174deg,
        var(--decoration-gradient-start) 5.05%,
        var(--decoration-gradient-end) 63.54%
      );
      transform: translateY(10px) rotate(-48.43deg);
    }

    .decoration-back {
      position: absolute;
      z-index: 0;

      width: 115px;
      height: 72px;
      left: 0px;
      top: 0px;
      bottom: 0px;

      background: linear-gradient(
        135.38deg,
        var(--decoration-gradient-start) 30.1%,
        var(--decoration-gradient-end) 56.62%
      );
      transform: translate(-5px, -27px) rotate(-122deg);
    }
  }

  .content {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;

    position: relative;
    z-index: 10;
    height: calc(100% - 2px);
    width: calc(100% - 2px);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;

    > * {
      flex-grow: 1;
    }
  }

  .icon {
    width: max(46px, 20%);
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.23));
  }
}

.small {
  width: 78px;
  height: 36px;
  border-radius: 18px;

  .decoration {
    border-radius: 16px;
  }

  .inner-border {
    border-radius: 16px;
  }

  .content {
    font-size: 16px;
    font-weight: 600;
  }
}
