.rank {
  --gradient-start: #eff0ef;
  --gradient-end: #b2b1b2;
  --stroke-gradient-start: #919090;
  --stroke-gradient-end: #3f4040;

  padding-left: 0.063em;
  padding-right: 0.063em;
  font-size: 1em;

  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.01em;

  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    180deg,
    var(--gradient-start) 0%,
    var(--gradient-end) 100%
  );
  -webkit-text-fill-color: transparent;

  &::before {
    background: linear-gradient(
      180deg,
      var(--stroke-gradient-start) 0%,
      var(--stroke-gradient-end) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.063em transparent;

    content: attr(data-text);
    position: absolute;
    z-index: -1;

    padding-left: 0.375em;
    padding-right: 0.375em;
    transform: translateX(-0.37515em);
  }
}

.A {
  --gradient-start: #ffe4b2;
  --gradient-end: #fb8a3b;
  --stroke-gradient-start: #f06a12;
  --stroke-gradient-end: #a23b06;
}

.B {
  --gradient-start: #ffd0dc;
  --gradient-end: #d75b85;
  --stroke-gradient-start: #fd8faa;
  --stroke-gradient-end: #a22445;
}

.F {
  --gradient-start: #e7e8fb;
  --gradient-end: #ad97fd;
  --stroke-gradient-start: #877fea;
  --stroke-gradient-end: #52498d;
}
